/* ============= IMPORTED FONTS ============ */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

header {
  border-bottom: 1px solid #36454F;
  opacity: 50%;
  color: #29343c;
  padding: 4px;
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
  max-width: 500px;
}

body {
  color: #36454F;
  background-color: #fff;
}

h1 {
  margin: 5px;
  text-align: center;
}

p {
  margin-top: 10px;
}

.header-div {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.footer-container {
  display: flex;
}

.footer-copy {
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 20rem;
  padding-bottom: 30px;
}

form {
  display: grid;
  margin-top: 5px;
  outline: none;
}

form:focus {
  outline: none;
}

.form-div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form-div input, .form-div select {
  font-size: 1.25rem;
  margin-bottom: .75rem;
  text-decoration: none;
  color: #36454F;
  padding-left: 5px;
}


img {
  width: 125px;
}

.qr-icon {
  margin-top: 20px;
}

button {
  height: auto;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: #36454F;
  cursor: pointer;
}

.button:hover {
  background-color: #7FB069;
  color:  rgb(235, 235, 215);
}

#generated {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.save-btn {
  background-color: #e9c46a;
  border-radius: 5px;
  margin: auto; 
  margin-top: 20px;
  margin-bottom: 50px;
  text-decoration: none;
  color: #36454F;
  height: 28px;
  font-size: 1.5rem;
  width: 150px;
  padding-bottom: 5px;
  cursor: pointer;
}

.save-btn:hover {
  text-decoration: none;
  background-color: #7FB069;
  color:  rgb(235, 235, 215);
}

.qr-btn {
  background-color: #e9c46a;
  font-size: 1.5rem;
}
.qr-btn:hover {
  background-color: #7FB069;
  color:  rgb(235, 235, 215);
}

/* DARKMODE */
.toggle-container {
  margin-top: 20px;
  margin-right: 25px;
  display: flex;
  justify-content: end;
}

.dark-mode {
  background-color: #2C3639;
  color: #fff;
}

.dark-mode header {
  color: #DCD7C9;
  border-bottom: 1px solid #DCD7C9;
}

.dark-mode .qr-btn:hover, .dark-mode .save-btn:hover {
  background-color: #b06969;
}

.dark-mode-btn {
  width: 3rem;
  cursor: pointer;
  background-color: #969595;
  border-radius: 50%;
  border: 2px solid #e9c46a;
}

